{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
<section>
    <h2>Choose a project from here</h2>
    <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
        <div class="carousel-cell"><a href="{{url_for('join_project')}}">An IOT based smart inverter</a></div>
        <div class="carousel-cell">Dynamic Wireless Charging of Electric Vehicle</div>
        <div class="carousel-cell">Object detection for image-patient registration in neurosurgery</div>
        <div class="carousel-cell">Indoor /outdoor location aware navigation systems </div>
        <div class="carousel-cell">Integrated platform for self powered sensor for smart agriculture IoT</div>
    </div>
</section>
{% endblock content %}