{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Project Group</legend>

                <div class="form-group">
                    {{ form.project_titles.label(class="form-control-label") }}
<!--                    {% if form.project_titles.errors %}-->
<!--                        {{ form.project_titles(class="form-control form-control-lg is-invalid") }}-->
<!--                        <div class="invalid-feedback">-->
<!--                            {% for error in form.project_titles.errors %}-->
<!--                                <span>{{ error }}</span>-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                    {% else %}-->
                        {{ form.project_titles(class="form-control form-control-lg") }}
<!--                    {% endif %}-->
                </div>
                 <div class="form-group">
                    {{ form.matric_no.label(class="form-control-label") }}
                    {% if form.matric_no.errors %}
                        {{ form.matric_no(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.matric_no.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.matric_no(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div>
<!--                    The following code will loop through all current members and it might need tweaking-->
                    {% for member in members %}
                        <ul class="list-group"> {{ member }} </ul>
                    {%  endfor %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
{%  endblock content%}