<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"

<!--     flickity CSS and Javascript-->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    {% if title %}
    <title>IDP for Faculty of Engineering- {{title}}</title>
    {% else %}
    <title>IDP Group Management</title>
    {% endif %}
</head>

<body>
<header class="site-header">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
<!--    <nav class="navbar navbar-dark bg-dark fixed-top">-->

        <div class="container">

            <a class="navbar-brand mr-4" href="{{url_for('home')}}">Integrated Design Project</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">

                <div class="navbar-nav mr-auto">

                    <a class="nav-item nav-link" href="#">Your Project</a> <!--The link needs to be updated-->

                    <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>

                </div>

                <!-- Navbar Right Side -->

                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{url_for('logout')}}">logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
                    <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
                    {% endif %}
                </div>

            </div>

        </div>

    </nav>

</header>

<div class="row">

    <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ messages }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

    </div>

    <div class="col-md-4">

        <div class="content-section">

            <h3>Our Sidebar</h3>

            <p class='text-muted'>You can put any information here you'd like.

            <ul class="list-group">

                <li class="list-group-item list-group-item-light">Latest Posts</li>

                <li class="list-group-item list-group-item-light">Announcements</li>

                <li class="list-group-item list-group-item-light">Calendars</li>

                <li class="list-group-item list-group-item-light">etc</li>

            </ul>

            </p>

        </div>

    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>